<section class="w-full h-screen flex items-center justify-evenly gap-8 px-4 md:px-8 relative">
  <div
    class="custom-title-box text-white flex flex-col items-start justify-center gap-12 text-start -mt-12"
  >
    <h1 class="text-5xl sm:text-7xl md:text-9xl font-bold">Soul Script</h1>
    <p class="text-gray-400 md:text-lg w-full max-w-[700px] -mt-4">
      Save your thoughts, memories, and images in a secure and private space. Soul Script is your
      personal journal, where you can write down your daily experiences, upload your favorite
      photos, and keep everything organized and safe.
    </p>
    <button mat-flat-button class="ms-8 scale-125 md:scale-150 ring-[1px] ring-[#ffffff4c]">
      Get Started
    </button>
  </div>

  <div class="features text-white flex flex-col items-center justify-center gap-4 text-start">
    <div class="feature">
      <h2>Save Text</h2>
      <p>Write down your daily thoughts and experiences.</p>
    </div>
    <div class="feature">
      <h2>Upload Images</h2>
      <p>Keep your favorite photos and memories safe.</p>
    </div>
    <div class="feature">
      <h2>Secure and Private</h2>
      <p>Your data is protected and only accessible by you.</p>
    </div>
  </div>

  <p class="absolute bottom-2 right-4 text-gray-400">
    &copy; 2024 Soul Script. All rights reserved.
  </p>
</section>
