<section class="w-full h-screen flex items-center justify-evenly gap-8 px-4 md:px-8 relative">
  <div
    class="custom-title-box text-white flex flex-col items-start justify-center gap-12 text-start -mt-12"
  >
    <h1 class="text-5xl sm:text-7xl md:text-9xl font-bold typing-container">
      <span>{{ displayText }}</span>
      <div class="cursor">|</div>
    </h1>
    <p class="text-gray-400 md:text-lg w-full max-w-[700px] -mt-4">
      Save your thoughts, memories, and images in a secure and private space. Soul Script is your
      personal journal, where you can write down your daily experiences, upload your favorite
      photos, and keep everything organized and safe.
    </p>

    <div class="flex gap-3 items-center justify-start">
      <button
        (click)="global.onRedirect('/auth/sign-in')"
        mat-flat-button
        class="ring-[1px] ring-[#ffffff4c] !h-[52px]"
      >
        <span class="text-2xl px-2"> Sign in </span>
      </button>
      <span class="text-gray-400 text-lg"
        >No account?
        <span
          class="text-primary-500 hover:text-primary-400 transition cursor-pointer"
          (click)="global.onRedirect('/auth/sign-up')"
          >Create account</span
        ></span
      >
    </div>
  </div>

  <div class="features text-white flex flex-col items-center justify-center gap-4 text-start">
    <div class="feature">
      <h2>Save Text</h2>
      <p class="!text-gray-200">Write down your daily thoughts and experiences.</p>
    </div>
    <div class="feature">
      <h2>Upload Images</h2>
      <p class="!text-gray-200">Keep your favorite photos and memories safe.</p>
    </div>
    <div class="feature">
      <h2>Secure and Private</h2>
      <p class="!text-gray-200">Your data is protected and only accessible by you.</p>
    </div>
  </div>

  <p class="absolute bottom-2 right-4 text-gray-400">
    &copy; 2024 Soul Script. All rights reserved.
  </p>
</section>
